In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from collections import Counter, defaultdict
from sklearn.metrics import roc_curve, auc
from sklearn import preprocessing

In [29]:
dataset = pd.read_csv('network_backup_dataset.csv')

In [62]:
def one_hot_encode(dataset):
    le = preprocessing.LabelEncoder()
    dataset_cat = dataset.select_dtypes(include=[object])
    dataset_cat.head()
    dataset_cat = dataset_cat.apply(le.fit_transform)
    oh_enc = preprocessing.OneHotEncoder()
    oh_enc.fit(dataset_cat)
    onehotlabels = oh_enc.transform(dataset_cat)
    cat_array = onehotlabels.toarray()
    dataset_no_cat = dataset.select_dtypes(exclude=[object])
    non_cat_array = dataset_no_cat.as_matrix()
    return np.concatenate((non_cat_array,cat_array),axis = 1)

In [63]:
one_hot_encode(dataset)

array([[  1.        ,   1.        ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  1.        ,   1.        ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  1.        ,   1.        ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       ...,
       [ 15.        ,  21.        ,   0.19857244, ...,   0.        ,
          0.        ,   0.        ],
       [ 15.        ,  21.        ,   0.19957007, ...,   0.        ,
          0.        ,   0.        ],
       [ 15.        ,  21.        ,   0.20120052, ...,   0.        ,
          0.        ,   0.        ]])

  Day of Week Work-Flow-ID File Name
0      Monday  work_flow_0    File_0
1      Monday  work_flow_2   File_12
2      Monday  work_flow_2   File_13
3      Monday  work_flow_2   File_14
4      Monday  work_flow_2   File_16

In [32]:

dataset_cat

       Day of Week  Work-Flow-ID  File Name
0                1             0          0
1                1             2          4
2                1             2          5
3                1             2          6
4                1             2          8
5                1             2          9
6                1             3         10
7                1             3         11
8                1             3         13
9                1             3         14
10               1             3         15
11               1             3         16
12               1             0          1
13               1             0         12
14               1             0         23
15               1             0         24
16               1             0         25
17               1             1         26
18               1             1         27
19               1             1         28
20               1             1         29
21               1             1          2
22               1             1          3
23               1             2          7
24               1             4         17
25               1             4         18
26               1             4         19
27               1             4         20
28               1             4         21
29               1             4         22
...            ...           ...        ...
18558            3             1         29
18559            3             1         26
18560            3             1          3
18561            3             1         27
18562            3             1         28
18563            3             1          2
18564            3             3         14
18565            3             2          5
18566            3             2          6
18567            3             3         16
18568            3             3         15
18569            3             3         10
18570            3             2          8
18571            3             3         13
18572            3             2          9
18573            3             3         11
18574            3             2          7
18575            3             2          4
18576            3             0         25
18577            3             0         23
18578            3             0          1
18579            3             0         12
18580            3             0         24
18581            3             0          0
18582            3             4         21
18583            3             4         22
18584            3             4         20
18585            3             4         19
18586            3             4         18
18587            3             4         17

[18588 rows x 3 columns]